<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.explore.dao.SourceMapper" >
  <resultMap id="BaseResultMap" type="com.explore.pojo.Source" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="source_name" property="sourceName" jdbcType="VARCHAR" />
    <result column="campus_id" property="campusId" jdbcType="INTEGER" />
    <result column="source_position" property="sourcePosition" jdbcType="VARCHAR" />
    <result column="source_value" property="sourceValue" jdbcType="REAL" />
    <result column="total" property="total" jdbcType="INTEGER" />
    <result column="status" property="status" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, source_name, campus_id, source_position, source_value, total, status
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from source
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="showSources" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select
    <include refid="Base_Column_List" />
    from source order by id desc
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from source
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.explore.pojo.Source" >
    insert into source (id, source_name, campus_id, 
      source_position, source_value, total, 
      status)
    values (#{id,jdbcType=INTEGER}, #{sourceName,jdbcType=VARCHAR}, #{campusId,jdbcType=INTEGER}, 
      #{sourcePosition,jdbcType=VARCHAR}, #{sourceValue,jdbcType=REAL}, #{total,jdbcType=INTEGER}, 
      #{status,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.explore.pojo.Source" >
    insert into source
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="sourceName != null" >
        source_name,
      </if>
      <if test="campusId != null" >
        campus_id,
      </if>
      <if test="sourcePosition != null" >
        source_position,
      </if>
      <if test="sourceValue != null" >
        source_value,
      </if>
      <if test="total != null" >
        total,
      </if>
      <if test="status != null" >
        status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="sourceName != null" >
        #{sourceName,jdbcType=VARCHAR},
      </if>
      <if test="campusId != null" >
        #{campusId,jdbcType=INTEGER},
      </if>
      <if test="sourcePosition != null" >
        #{sourcePosition,jdbcType=VARCHAR},
      </if>
      <if test="sourceValue != null" >
        #{sourceValue,jdbcType=REAL},
      </if>
      <if test="total != null" >
        #{total,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.explore.pojo.Source" >
    update source
    <set >
      <if test="sourceName != null" >
        source_name = #{sourceName,jdbcType=VARCHAR},
      </if>
      <if test="campusId != null" >
        campus_id = #{campusId,jdbcType=INTEGER},
      </if>
      <if test="sourcePosition != null" >
        source_position = #{sourcePosition,jdbcType=VARCHAR},
      </if>
      <if test="sourceValue != null" >
        source_value = #{sourceValue,jdbcType=REAL},
      </if>
      <if test="total != null" >
        total = #{total,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.explore.pojo.Source" >
    update source
    set source_name = #{sourceName,jdbcType=VARCHAR},
      campus_id = #{campusId,jdbcType=INTEGER},
      source_position = #{sourcePosition,jdbcType=VARCHAR},
      source_value = #{sourceValue,jdbcType=REAL},
      total = #{total,jdbcType=INTEGER},
      status = #{status,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="showSource" resultMap="BaseResultMap">
    select <include refid="Base_Column_List" />
    from source
    <where>
      <if test="campusId != null" >
        campus_id = #{campusId,jdbcType=INTEGER}
      </if>
      <if test="status != null" >
        and status = #{status}
      </if>
    </where>
  </select>
    <select id="selectAllCount" resultType="java.lang.Integer">
      select count(id) from source
    </select>
  <select id="selectAllCountByCampusId" resultType="java.lang.Integer">
    select count(id) from source where campus_id = #{id}
  </select>
</mapper>