<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.explore.dao.StudentMapper" >
  <resultMap id="BaseResultMap" type="com.explore.pojo.Student" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="sex" property="sex" jdbcType="VARCHAR" />
    <result column="phone" property="phone" jdbcType="VARCHAR" />
    <result column="idcard" property="idcard" jdbcType="VARCHAR" />
    <result column="campus_id" property="campusId" jdbcType="INTEGER" />
    <result column="coach_id" property="coachId" jdbcType="INTEGER" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="quarter_id" property="quarterId" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, name, sex, phone, idcard, campus_id, coach_id, status,quarter_id, password
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from student
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="getAllStudent" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from student order by id desc
  </select>
  <select id="getQuarterStudent" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from student
    where quarter_id = #{quarterId,jdbcType=INTEGER} order by id desc
  </select>
  <select id="getIdCard" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from student
    where idcard = #{idcard,jdbcType=VARCHAR} order by id desc
  </select>
  <select id="showMessage" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from student
    where name = #{name,jdbcType=VARCHAR} and  idcard = #{idcard,jdbcType=VARCHAR} order by id desc
  </select>
  <select id="showStudent" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select
    <include refid="Base_Column_List" />
    from student
    where coach_id = #{coachId,jdbcType=INTEGER} and status = 0 order by id desc
  </select>
  <select id="searchStudentCampus" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select
    <include refid="Base_Column_List" />
    from student
    where campus_id = #{campusId,jdbcType=INTEGER} order by id desc
  </select>
  <select id="searchSubjectStudent" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
SELECT
subject_student.id,
subject_student.subject_id,
subject_student.student_id,
subject_student.exam_id,
subject_student.`status`,
subject_student.count,
subject_student.position,
subject_student.price,
subject_student.start_time,
subject_student.end_time
FROM
student ,
subject_student
WHERE
student.coach_id = #{coachId,jdbcType=INTEGER} AND
subject_student.student_id = student.id AND
student.`status` = 0
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from student
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.explore.pojo.Student" >
    insert into student (id, name, sex, 
      phone, idcard, campus_id, 
      coach_id, status,quarter_id)
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{sex,jdbcType=VARCHAR}, 
      #{phone,jdbcType=VARCHAR}, #{idcard,jdbcType=VARCHAR}, #{campusId,jdbcType=INTEGER}, 
      #{coachId,jdbcType=INTEGER}, #{status,jdbcType=INTEGER},#{quarterId,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.explore.pojo.Student" >
    insert into student
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="sex != null" >
        sex,
      </if>
      <if test="phone != null" >
        phone,
      </if>
      <if test="idcard != null" >
        idcard,
      </if>
      <if test="campusId != null" >
        campus_id,
      </if>
      <if test="coachId != null" >
        coach_id,
      </if>
      <if test="status != null" >
        status,
      </if>
    <if test="quarterId != null" >
      quarter_id,
    </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="sex != null" >
        #{sex,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="idcard != null" >
        #{idcard,jdbcType=VARCHAR},
      </if>
      <if test="campusId != null" >
        #{campusId,jdbcType=INTEGER},
      </if>
      <if test="coachId != null" >
        #{coachId,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="quarterId != null" >
        #{quarterId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.explore.pojo.Student" >
    update student
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="sex != null" >
        sex = #{sex,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="idcard != null" >
        idcard = #{idcard,jdbcType=VARCHAR},
      </if>
      <if test="campusId != null" >
        campus_id = #{campusId,jdbcType=INTEGER},
      </if>
      <if test="coachId != null" >
        coach_id = #{coachId,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="quarterId != null" >
        quarter_id= #{quarterId,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.explore.pojo.Student" >
    update student
    set name = #{name,jdbcType=VARCHAR},
      sex = #{sex,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=VARCHAR},
      idcard = #{idcard,jdbcType=VARCHAR},
      campus_id = #{campusId,jdbcType=INTEGER},
      coach_id = #{coachId,jdbcType=INTEGER},
      status = #{status,jdbcType=INTEGER},
      quarter_id= #{quarterId,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <select id="checkStudent" resultType="java.lang.Integer" parameterType="com.explore.pojo.Student">
    select count(*) from student
    where phone = #{phone} and idcard =#{idcard}
  </select>
  <select id="login" resultType="com.explore.pojo.Student">
    select
    <include refid="Base_Column_List" />
    from student
    where idcard = #{idcard} and password = #{password}
  </select>
  <select id="showStudents" resultMap="BaseResultMap" parameterType="com.explore.pojo.Student">
    select
    <include refid="Base_Column_List" />
    from student
    <where>
      <if test="campusId != null" >
        campus_id = #{campusId,jdbcType=INTEGER}
      </if>
      <if test="status != null" >
        and status = #{status,jdbcType=INTEGER}
      </if>
    </where>
  </select>
    <select id="selectAllCount" resultType="java.lang.Integer">
      select count(id) from student
    </select>
  <select id="selectCountByQuarterId" resultType="java.lang.Integer">
    select count(id) from student where quarter_id = #{id}
  </select>
    <select id="selectAllCountByCampusId" resultType="java.lang.Integer">
      select count(id) from student where campus_id = #{id}
    </select>
</mapper>