<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.explore.dao.SubjectStudentMapper" >
  <resultMap id="BaseResultMap" type="com.explore.pojo.SubjectStudent" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="subject_id" property="subjectId" jdbcType="INTEGER" />
    <result column="student_id" property="studentId" jdbcType="INTEGER" />
    <result column="exam_id" property="examId" jdbcType="INTEGER" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="count" property="count" jdbcType="INTEGER" />
    <result column="position" property="position" jdbcType="VARCHAR" />
    <result column="price" property="price" jdbcType="REAL" />
    <result column="start_time" property="startTime" jdbcType="TIMESTAMP" />
    <result column="end_time" property="endTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, subject_id, student_id, exam_id, status, count, position, price, start_time, 
    end_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from subject_student
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="showSubjectStudent" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select
    <include refid="Base_Column_List" />
    from subject_student
  </select>
  <select id="SubjectStudent" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select
    <include refid="Base_Column_List" />
    from subject_student
    where subject_id = #{subjectId,jdbcType=INTEGER} and student_id = #{studentId,jdbcType=INTEGER}
  </select>
  <select id="searchExam" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
 SELECT
subject_student.id,
subject_student.subject_id,
subject_student.student_id,
subject_student.exam_id,
subject_student.`status`,
subject_student.count,
subject_student.position,
subject_student.price,
subject_student.start_time,
subject_student.end_time
FROM
student ,
subject_student
WHERE
student.campus_id = #{campusId,jdbcType=INTEGER} AND
subject_student.student_id = student.id
  </select>
  <select id="selectByStudentId" resultType="com.explore.pojo.SubjectStudent">
    select
    <include refid="Base_Column_List" />
    from subject_student where student_id = #{id} order by id desc
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from subject_student
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <update id="cancel">
    update subject_student set status = 5 where id = #{id} and student_id = #{studentId}
  </update>
  <insert id="insert" parameterType="com.explore.pojo.SubjectStudent" >
    insert into subject_student (id, subject_id, student_id, 
      exam_id, status, `count`,
      `position`, price, start_time,
      end_time)
    values (#{id,jdbcType=INTEGER}, #{subjectId,jdbcType=INTEGER}, #{studentId,jdbcType=INTEGER}, 
      #{examId,jdbcType=INTEGER}, #{status,jdbcType=INTEGER}, #{count,jdbcType=INTEGER}, 
      #{position,jdbcType=VARCHAR}, #{price,jdbcType=REAL}, #{startTime,jdbcType=TIMESTAMP}, 
      #{endTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.explore.pojo.SubjectStudent" >
    insert into subject_student
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="subjectId != null" >
        subject_id,
      </if>
      <if test="studentId != null" >
        student_id,
      </if>
      <if test="examId != null" >
        exam_id,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="count != null" >
        count,
      </if>
      <if test="position != null" >
        position,
      </if>
      <if test="price != null" >
        price,
      </if>
      <if test="startTime != null" >
        start_time,
      </if>
      <if test="endTime != null" >
        end_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="subjectId != null" >
        #{subjectId,jdbcType=INTEGER},
      </if>
      <if test="studentId != null" >
        #{studentId,jdbcType=INTEGER},
      </if>
      <if test="examId != null" >
        #{examId,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="count != null" >
        #{count,jdbcType=INTEGER},
      </if>
      <if test="position != null" >
        #{position,jdbcType=VARCHAR},
      </if>
      <if test="price != null" >
        #{price,jdbcType=REAL},
      </if>
      <if test="startTime != null" >
        #{startTime,jdbcType=TIMESTAMP},
      </if>
      <if test="endTime != null" >
        #{endTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.explore.pojo.SubjectStudent" >
    update subject_student
    <set >
      <if test="subjectId != null" >
        subject_id = #{subjectId,jdbcType=INTEGER},
      </if>
      <if test="studentId != null" >
        student_id = #{studentId,jdbcType=INTEGER},
      </if>
      <if test="examId != null" >
        exam_id = #{examId,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="count != null" >
        count = #{count,jdbcType=INTEGER},
      </if>
      <if test="position != null" >
        position = #{position,jdbcType=VARCHAR},
      </if>
      <if test="price != null" >
        price = #{price,jdbcType=REAL},
      </if>
      <if test="startTime != null" >
        start_time = #{startTime,jdbcType=TIMESTAMP},
      </if>
      <if test="endTime != null" >
        end_time = #{endTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.explore.pojo.SubjectStudent" >
    update subject_student
    set subject_id = #{subjectId,jdbcType=INTEGER},
      student_id = #{studentId,jdbcType=INTEGER},
      exam_id = #{examId,jdbcType=INTEGER},
      status = #{status,jdbcType=INTEGER},
      count = #{count,jdbcType=INTEGER},
      position = #{position,jdbcType=VARCHAR},
      price = #{price,jdbcType=REAL},
      start_time = #{startTime,jdbcType=TIMESTAMP},
      end_time = #{endTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>